h1 {
    text-align: center;
}

.about-me {
    width: 100%;
    margin-top: 2rem;
}

.about-me h2 {
    text-align: center;
}

.about-me p {
    margin: 2rem;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    width: 60px;
}

.icon p {
    margin-bottom: 0 .5rem;
}

.icon i {
    font-size: 3rem;
    transition-property: all;
    transition-duration: .5s;
}

.icon:hover i {
    transform: rotateY(360deg);
}
