
<nav>
  <h1>Bryce Byker</h1>
  <div *ngIf="!(mobile | async).matches">
    <ul>
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a routerLink="/resume" routerLinkActive="active">Resume</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </ul>  
  </div>
  <div *ngIf="(mobile | async).matches" class='menu-container'>
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  </div>
</nav>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" [(opened)]="opened" (opened)="events.push('open!')"
                (closed)="events.push('close!')" position='end'>
                <ul class="side-bar-list">
                  <a routerLink="/home" routerLinkActive="active">Home</a>
                  <a routerLink="/about" routerLinkActive="active">About</a>
                  <a routerLink="/resume" routerLinkActive="active">Resume</a>
                  <a routerLink="/contact" routerLinkActive="active">Contact</a>
                </ul>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


<footer>
  <ul>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/resume" routerLinkActive="active">Resume</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
  </ul>
</footer>