<div class="main">
    <img src="assets/img/Me.jpg" alt="Bryce Byker Profile Picture">
    <div class="info">
        <p>Hello, my name is</p>
        <h1>BRYCE BYKER</h1>
        <h3>Web Developer</h3>
        <p class="info-item"><mat-icon fontSet="material-icons-outlined">local_phone</mat-icon>(616) 889-3896</p>
        <p class="info-item"><mat-icon fontSet="material-icons-outlined">mail</mat-icon> bryce1492@gmail.com</p>
        <p class="info-item"><mat-icon fontSet="material-icons-outlined">home</mat-icon> Grand Rapids, MI</p>
    </div>
</div>
