.project-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    transition-property: all;
    transition-duration: .15s;
    transition-timing-function: ease-in;
}

.project-container mat-icon,
.project-container a {
    transition-property: all;
    transition-duration: .15s;
    transition-timing-function: ease-in;
}

.project-container:hover mat-icon {
    color: #000080;
}

h3 {
    text-align: center;
} 

p {
    text-align: center;
}

.btn-container {
    display: flex;
    justify-content: space-around;
}

.btn-container a {
    width: 70px;
}

.icon-container {
    text-align: center;
}

.project-container:hover a {
    color: #fcfcfc;
    background: #000080;
}

a {
    color: #000080;
    background: #fcfcfc;
    border-radius: .25em;
    text-decoration: none;
    border: 1px solid #000080;
    padding: .5em;
    text-align: center;
    transition-property: all;
    transition-duration: .15s;
    transition-timing-function: ease-out;

}
 
a:hover {
    color: #000080 !important;
    background: #fcfcfc !important;
}

mat-icon {
    font-size: 48px;
    height: 48px;
    width: 48px;
}

/* @media screen and (min-width: 840px) {
    .project-container{
        max-width: 300px;
    }
}  */