/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Open Sans', sans-serif;
}

html, body {
    margin: 0;
    background-color: #EEEEEE;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: #000080;
}