img {
    width: 100%;
    overflow: hidden;
}

.img-container {
    position: relative;
    width: 100vw;
    max-height: 80vh;
    overflow: hidden;
}

.img-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.front-end {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #EEE;
    font-size: 1em;
}

.web-dev {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: #EEE;
    margin-top: 1rem;
    text-align: center;
    text-shadow: 20px -12px 10px black;
    white-space: nowrap;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
/* May Need to set height/width so the next line doesn't take up whole space */
app-project {
    display: flex;
    flex: 1;
    margin: 2rem;
    border-radius: 1rem;
    background: #ffffff80
}

app-project:hover {
    box-shadow: 0px 0px 10px #AAA;
}

.projects-h1 {
    text-align: center;
}

@media screen and (min-width: 600px) {
    .front-end {
        font-size: 1.5rem;
    }
    .web-dev {
        font-size: 4rem;
    }
}

@media screen and (min-width: 840px) {
    .projects-container {
        flex-direction: row;
        justify-content: space-evenly;
    }

    app-project {
        min-width: 340px;
        max-width: 340px;
    }
}

